#contents {
    width: 600px;
    margin: 0px auto;
    text-align: center;
}

.question {
    font-size: 30px;
}

.gift {
    background:rgb(248, 248, 248);
    border-radius:3px;
    border:1px solid rgb(208, 208, 208);
    padding: 10px;
    margin-top:10px;
    text-align: left;
}

.message{
    margin-top:10px;
    text-align:right;
}

.button {
    border-radius:3px;
    padding: 5px;
    text-decoration:none;
    border:1px solid rgb(200, 200, 200);
    margin-left: 10px;
}

.disabled-button {
    background: rgba(224, 224, 224, 0.1);
    color:gray;
}

.active-button {
    background: rgb(224, 224, 224);
    color:black;
}

.reservation {
    text-align:right;
}

.status {
    margin-bottom:10px;
}

.spacer {
    background: black;
    width: 500px;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
}

.red-text {
    color: rgb(192, 21, 21);
}

.green-text {
    color: rgb(63, 150, 63);
}

.regular-text {
    color: black;
}